<!DOCTYPE html>
<html lang="en">
<head>
	<title>Ajouter un produit</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>
<body>
	<form method="POST" name="f"  action="../Core/AjouterProduit.php">
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
				<form class="login100-form validate-form flex-sb flex-w">
					<span class="login100-form-title p-b-32">
						Ajouter un produit
					</span>

					<span class="txt1 p-b-11">
						Identifiant
					</span>
					<div class="wrap-input100 validate-input m-b-36" data-validate = "Identifiant is required">
						<input class="input100" type="text" name="Identifiant" >
						<span class="focus-input100"></span>
					</div>
					<span class="txt1 p-b-11">
						Nom
					</span>
					<div class="wrap-input100 validate-input m-b-36" data-validate = "Nom is required">
						<input class="input100" type="text" name="Nom" >
						<span class="focus-input100"></span>
					</div>
					<span class="txt1 p-b-11">
						Prix
					</span>
					<div class="wrap-input100 validate-input m-b-36" data-validate = "Prix is required">
						<input class="input100" type="text" name="Prix" >
						<span class="focus-input100"></span>
					</div>
					<span class="txt1 p-b-11">
						Categorie
					</span>
					<div class="wrap-input100 validate-input m-b-36" data-validate = "Categorie is required">
						<input class="input100" type="text" name="Categorie" >
						<span class="focus-input100"></span>
					</div>
					
					<span class="txt1 p-b-11">
						Marque
					</span>
					<div class="wrap-input100 validate-input m-b-12" data-validate = "Marque is required">
						<input class="input100" type="text" name="Marque" >
						<span class="focus-input100"></span>
					</div>
					<div class="container-login100-form-btn">
						<input class="login100-form-btn" type="submit" value="Back now" >
					</div>
					<div class="container-login100-form-btn" style="
					margin-left: 80%;
					margin-top: -7%;">
						<a href="../tables-regular.php"><h5 style="text-align: right; font-weight: bold; font-size: .88rem;">Cancel</h5></a>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>
</form>
</body>
</html>